@import url(/layouts/_settings.scss);
@import url(/layouts/_body.scss);
@import url(/layouts/_footer.scss);
@import url(/layouts/_header.scss);
@import url(/layouts/_right.scss);


@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins/Poppins-Medium.ttf);  
}
@font-face {
    font-family: "Poppins Bold";
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins Light";
    src: url(/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: "Comfortaa";
    src: url(/fonts/Comfortaa/static/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: "Comfortaa Bold";
    src: url(/fonts/Comfortaa/static/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: "Comfortaa Light";
    src: url(/fonts/Comfortaa/static/Comfortaa-Light.ttf);
}
@font-face {
    font-family: "Orkney";
    src: url(/fonts/orkney/orkney-regular.otf);
}
@font-face {
    font-family: "Orkney Light";
    src: url(/fonts/orkney/orkney-light.otf);
}
@font-face {
    font-family: "Orkney Bold";
    src: url(/fonts/orkney/orkney-bold.otf);
}

$font1: "Poppins", sans-serif;
$font2:"Poppins Bold",sans-serif;
$font3: "Poppins Light",sans-serif;
$logo: "Comfortaa", sans-serif;
$background: rgba(22, 22, 22, 0.863);
$black1: rgb(8, 8, 8);
$white1: rgb(255, 255, 255);
$blue1: rgba(183, 232, 255, 0.438);
$grey1: rgb(209, 209, 209);
$grey2: rgb(233, 233, 233);
$pink1: #FA898A;

@mixin title {
    text-transform: uppercase;
  }

  @mixin shadow {
    text-shadow: 1px -1px 10px #000000, 1px -1px 10px #000000,1px -1px 10px #000000, 1px -1px 10px #000000, 
}

 


*{
    font-family: "Poppins";
    padding: 0;
    margin: 10px;
    box-sizing: border-box;

    html {
        scroll-behavior: smooth;
      }
    
      a,
      a:visited {
        color: $white1;
      }

      button {
      background: none;
          border-radius: 100px;
          height: 45px;
          width: 170px;
          font-size: 1.1rem;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            transform: scale(1.05);
          }
      }
}

///////////////////////////DIV1////////////////////////////////

  body{
      background-color: $grey1;
      margin: 0px;
      background: url(/img/pexels-pixabay-260922.jpg) fixed center/cover;
     

  }

  .Bg{
      border-radius: 20px;
      display: grid;
      grid-template-columns: 50% 50%;
      background-color: $white1;
      background: transparent;
      height: 100vh;
      
    }
    
    .left_part{
    border-radius: 20px;
    background:   opacify($color: $background, $amount: 0)  ;
    height: 96vh;
    width: 100%;
    display: grid;
    margin: 0;
   grid-template-rows: 10% 70% 20%;
  
   
   .header {
     
       display: grid;
       grid-template-columns: 20% 80%;
       margin-right: 20px;

       .logo{
           color: $white1;
           text-align: center;
           margin: 10px;
           font-family: $logo;
           height: 100%;
           font-size: 1.6rem;

       }
 
       ul {
           display: flex;
           flex-direction: column;
           flex-wrap: nowrap;
           justify-content: space-between;
           align-items: flex-end;
           list-style: none;
          li{
              #Accueil{
                  text-transform: uppercase;
              }
              a{
                  font-family: $font1;
                  color: $white1;
                  text-decoration: none;
              }
          }
       }
   }
   

   .main {
       display: grid;
       grid-template-rows: 20% 20% 30% 20% ;
       justify-content: center;
       align-items: center;
       justify-items: center;

       margin: 0 auto;
       width: 80%;
      
       height: 77vh;
       h1{
           @include title;
           font-family: $font3;
           letter-spacing: 0;
           color: $white1;
           font-size: 3rem;
       }
       p{
           font-size: 2rem;
           font-family: $font1;
           color: $pink1;
       }
       ol{
           
           margin: 0 auto;
           list-style-position: outside;
           li{
            left: 0;
            line-height: 70px;
            font-size: 1.5rem;
            color: $white1;
            @include shadow;

        }
      
    }
   
       h2{
           margin: 40px auto ;
           text-align: center;
        
           font-size: 2rem;
           font-family: $font3;
           color: $white1;
          
           a{
              font-family: $logo;
               text-decoration: none;
               margin-left: 10px;
               color: $pink1;
               opacity: 1.1;
           }
       }
    }
    
    .button {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px auto;
        gap: 10px;

        
     
      
         #Appstore{
             background: url(/img/bouton-appstore.png)   center/cover;
             background-color: $black1;
             height: 100px;
             width: 350px;
              border: 2px double $pink1;
              box-shadow:1px 1px 4px #424242 ;
            
             
            }
            #Playstore{
                background: url(/img/Playstore_finale_2.png)  center/cover;
                background-color: $black1;
                height: 100px;
                width: 350px;
                border: 2px double $pink1;
                box-shadow:1px 1px 4px #424242 ;
                
            }
    }
}
        
        
.right_part{
    background: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: grid;
    grid-template-rows:80% 20% ;
    height: 100vh;
    
    
    
    h1{
        text-align: center;
         color: $white1;
         margin: 0;
        font-family: $logo;
        font-size: 3.2rem;
       @include shadow;
       a{
           font-family: $logo;
           text-decoration: none;

       }
     }
     .container{
         height: 100%;
         margin: 0;
        }
        
        .visu_app{
            background: url(/img/img_Iphone_2.png)  center/cover;
            width: 100%;
            height: 100%;
            margin: 0 auto;
           
     }
     
     .button{
         display: none;
     }

        
}


///////////////////////////Section2////////////////////////////////

.body_2{
    height: 100%;
    
}

.bg_section2{
    background:   opacify($color: $background, $amount: 0)  ;
    height: 96vh;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1% 99%;
    padding-bottom: 50px;
    
    h1{
        font-size:  3rem;
        font-family: $font1;
        color: $white1;
        text-align: center;
        margin: 0;
        padding-top: 10px;
    }
    .photo_container{
        padding-bottom: 100px;
        margin: 0;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 15px;
        
        margin: 100px;
        
    }
    .img{
        border-radius: 2px;

    }
    .img_1{
        background:url(/img/img_grid/img_17.jpg) center/cover;

    }
    .img_2{
        background:url(/img/img_grid/img_2.jpg) center/cover ;
    }
    .img_3{
        background:url(/img/img_grid/img_3.jpg) center/cover ; 
    }
    .img_4{
        background:url(/img/img_grid/img_4.jpg)  center/cover;
    }
    .img_5{
        background:url(/img/img_grid/img_5.jpg) center/cover;
    }
    .img_6{
        background:url(/img/img_grid/img_6.jpg) center/cover;
    }
    .img_7{
        background:url(/img/img_grid/img_7.jpg) center/cover;
    }
    .img_8{
        background:url(/img/img_grid/img_8.jpg) center/cover;
    }
    .img_9{
        background:url(/img/img_grid/img_9.jpg) center/cover;
    }
    .img_10{
        background:url(/img/img_grid/img_10.jpg) center/cover;
    }
    .img_11{
        background:url(/img/img_grid/img_11.jpg) center/cover;
    }
    .img_12{
        background:url(/img/img_grid/img_12.jpg) center/cover;
    }
    .img_13{
        background:url(/img/img_grid/img_13.jpg) center/cover;
    }
    .img_14{
        background:url(/img/img_grid/img_14.jpg) center/cover;
    }
    .img_15{
        background:url(/img/img_grid/img_15.jpg) center/cover;
    }
    .img_16{
        background:url(/img/img_grid/img_16.jpg) center/cover;
    }
    .img_17{
        background:url(/img/img_grid/img_22.jpg) center/cover;
    }
    /*  
    .img_18{
        background:url(/img/img_grid/img_18.jpg) center/cover;
    }
    .img_19{
        background:url(/img/img_grid/img_19.jpg) center/cover;
    }
    .img_20{
        background:url(/img/img_grid/img_20.jpg) center/cover;
    }
    .img_21{
        background:url(/img/img_grid/img_21.jpg) center/cover;
    }
   .img_22{
        background:url(/img/img_grid/img_22.jpg) center/cover;
    }
    
    .img_23{
        background:url(/img/img_grid/img_23.jpg) center/cover;
    }
    
    .img_24{
        background:url(/img/img_grid/img_24.jpg) center/cover;
    }
    
    .img_25{
        background:url(/img/img_grid/img_25.jpg) center/cover;
    }
     */
}




///////////////////////////Section3////////////////////////////////


.section3{
    .bg_section3{
        background:   opacify($color: $background, $amount: 0)  ;
        height: 96vh;
        border-radius: 20px;
        display: grid;
        grid-template-rows: 10% 90%;
        margin: 100px auto 0px; 
        padding-bottom: 300px;

        
        h1{
            font-size:  3rem;
            color: $white1;
            text-align: center;
            margin: 0;
            padding-top: 10px;
            
        }
        .boxes_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
           
         
           .overbox{
               margin:20px 0;
               height: 80%;

               h1{
                   color: $pink1;
                   font-family: $font3;
               }

           }
            .box{
                background: $white1;
                margin: 30px;
                height: 100%;
                border-radius: 20px;
                box-shadow:  1px 1px 10px $black1;

                display: grid;
                grid-template-rows:20% 44% 11% 25% ;
                text-align: center;
                
                .offre_container{

                    h2{
                        font-size:  3rem;
                        text-align: center;
                        a{
                            color: #000000;
                            list-style: none;
                            text-decoration: none;
                            font-size: 0.9rem;
                        }
                    }
                    
                }
                
                .infos_container{

                    display: flex;
                    flex-direction: column;

                    ul{
                        list-style-position: outside;
                        list-style-type: circle;
                        margin: 0 auto;
                        font-size: 1.8rem;
                        line-height: 50px;

                        li{
                            margin: 15px auto;
                            position: relative;
                            a{
                                position: absolute;
                                left: 50% ;
                                top: 45%;
                                transform: translateX(-50%);
                                      
                                width: fit-content;
                                color: $pink1;
                                font-size: 0.9rem;
                                text-decoration: none;
                            }
                        }
                        .second_li{
                            color: #4242423b;
                        }
                            
                            
                        .last_li{
                            color: #4242423b;
                        }
                        
                    }
                    
                }
                button{
                    margin: 10px auto;
                    border-color: $pink1;
                    border-style:double;
                    border-width: 4px;
                    height: 60px;
                    width: 50%;
                    
                    background-color: black;
                    color: $white1;
                    
                }

                    .prix_container{
                        position: relative;
                      
                    h3{
                        transform: translateX(5%);
                        font-size: 2.6rem;
                        a{
                            color: #000000;
                            list-style: none;
                            text-decoration: none;
                            font-size: 0.9rem;
                        }
                    }
                    h4{
                        position: absolute;
                       margin: 0;
                       top: 100%;
                       left: 65%;
                       color: rgba(128, 128, 128, 0.63);
                       font-size: 0.7rem;

                    }
                }
              
            }


            
        
    }
}
}


///////////////////////////Responsive////////////////////////////////


@media screen and(max-width : 1500px) {

    .Bg{
        display: flex;
        flex-direction: column; 
        height: 200vh;

    
    }

    .left_part{
        display: grid;
       grid-template-rows: 10% 90%;
    }
 .first_btn{ 
     display: none;
 }

 .right_part{
     margin: 100px auto;
     .btn_2{
         display: flex;
         justify-content: center;
         align-content: center;
         margin: 20px auto;
         gap: 0px;
         width: 100%;
         height: 100%;
         
         #Appstore_2{
             background: url(/img/bouton-appstore.png)   center/cover;
             background-color: $black1;
             height: 100px;
             width: 350px;
             border: 2px double $pink1;
             box-shadow:1px 1px 4px #424242 ;
             
             
            }
            #Playstore_2{
                background: url(/img/Playstore_finale_2.png)  center/cover;
                background-color: $black1;
                width: 100%;
                height: 100%;
                 height: 100px;
                 width: 350px;
                 border: 2px double $pink1;
                 box-shadow:1px 1px 4px #424242 ;
                 
             }
             .text{
                 margin: 100px;
             }
     }
 }


 .section2{
     height: 180vh;

 }
.bg_section2{
grid-template-rows: 10% 90%;
height: fit-content;

    .photo_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        column-gap: 0px;
        row-gap: 0px;
        margin: 0 40px;
        .img{
            height: 160px;
        }
        
        
    }
}

.section3{
    

    .bg_section3{
        height: fit-content;
        grid-template-rows: 3% 97%;


        .boxes_container{
            
            display: flex;
            flex-direction: column;
            margin: 0 10%;

            .overbox{
                margin-bottom: 200px;
                }
            }
        }
    }


}


///////////////////////////MEDIA QUERIES SECOND////////////////////////////////

@media screen and(max-width : 805px) {

    *{
        margin: 0;
        box-sizing: none;
    }
  
    .Bg{
        display: block;
        margin: 0;
        height: 190vh;
        .left_part{
            border-radius: 0;
            height: 68vh;
            margin: 0;
            
            .main{
               display: block;
               height: 100%;
               margin: auto ;
               h1{
                   font-size: 1.7rem;
               }
               p{
                   font-size:1.2rem;
                   margin-top: 20px;;
               }
               h2{
                   font-size: 1.2rem;
               }
               #CTA{
                   font-size:1.9rem ;
                   text-align: center;
               }
               li{
                   list-style-position: inside;
                   font-size: 0.9rem;
               }
            

           }
       }

       .right_part{
           margin: 0;
           height: 100vh;
           
           .container{
               width: 350px;
               margin: 0 auto;
            }
            .btn_2{
                display: flex;
                flex-direction: column;
               align-items: center;
               width: 70%;
               #Appstore_2{
                   margin: 7px;
               }
           }
           .text{
               display: none;
           }
        }
    }

    .section2{
        margin: 0;
        height: fit-content;
        .bg_section2{
            border-radius: 0;
            margin: 0;
        }

        .photo_container{
            margin: 0 10px;
            gap: 10px;

        }


        
    }

    .section3{
        margin: 0;
        padding: 0;
        display: block;
        margin-top: -100px;

        
        .bg_section3{
            border-radius: 0;
            height: 310vh;
            padding-top: 100px;

            h1{
                font-size: 2.5rem;
            }


            .boxes_container{
                height: 100vh;
               margin: 0;
        
            .box{
                    grid-template-rows: 10% 45% 15% 30%;
                    
                    .offre_container{
                        margin-top: 20px;
                            h2{
                                font-size: 2rem;
                            }
                        }
                        
        
                        
                        .infos_container{
                            
                            li{
                                font-size: 1.5rem;
                            }
                       }

                       .prix_container{

                           h4{
                               position:initial;
                        
                               
                            }
                        }

                        .button_container{
                            button{
                                width: 70%;
                            }

                        }
                
            }
        }
                
           
            
        }   
        
    }
}

